/*#483F59
#ECF229
#4A5914
#354010
#AABF06*/


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*color: #373d3f;*/
  color: #483f59;
  /*background-color: #ecf166;*/
  /*background-color: #A098B0;*/
  background-color: #ecf229;
}

.uiview {
  position: relative;
}

.header {
  display: inline-block;
  width: 100%;
  height: 6vh;
  margin: 5px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.header .logo p {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  /*line-height: 1.5;*/
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 10px;
  margin: 0;
  height: 100%;
}

/*dark grey text, 5px paddings, lineheight 1.5, */

.logo {
  /*border: 5px solid red;*/
  margin-left: 5px;
  border-radius: 5px;
}

.loginsignup {
  /*border: 5px solid black;*/
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.logout {
  margin: 0 10px 0 0;
  text-align: right;
}

.logout p {
  margin: 0;
}

.map {
  width: 100%;
  height: 90vh;
}

.happyplacebuttons {
  /*width: 100%;*/
  margin: 0 0 5px 0;
  text-align: center;
}

.makehappyplacebutton {
  position: fixed;
  top: 11vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f0f2c4;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f0f2c4;
	box-shadow:inset 0px 1px 0px 0px #f0f2c4;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ecf166), color-stop(1, #bce854));
	background:-moz-linear-gradient(top, #ecf166 5%, #bce854 100%);
	background:-webkit-linear-gradient(top, #ecf166 5%, #bce854 100%);
	background:-o-linear-gradient(top, #ecf166 5%, #bce854 100%);
	background:-ms-linear-gradient(top, #ecf166 5%, #bce854 100%);
	background:linear-gradient(to bottom, #ecf166 5%, #bce854 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf166', endColorstr='#bce854',GradientType=0);
	background-color:#ecf166;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #5d851d;
	display:inline-block;
	cursor:pointer;
	color:#373d3f;
	font-family:'Lato', sans-serif;
	font-size: 1em;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bce854), color-stop(1, #ecf166));
	background:-moz-linear-gradient(top, #bce854 5%, #ecf166 100%);
	background:-webkit-linear-gradient(top, #bce854 5%, #ecf166 100%);
	background:-o-linear-gradient(top, #bce854 5%, #ecf166 100%);
	background:-ms-linear-gradient(top, #bce854 5%, #ecf166 100%);
	background:linear-gradient(to bottom, #bce854 5%, #ecf166 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bce854', endColorstr='#ecf166',GradientType=0);
	background-color:#bce854;
}
.myButton:active {
	position:relative;
	top:1px;
}*/

/*.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #959642;
	-webkit-box-shadow:inset 0px 1px 3px 0px #959642;
	box-shadow:inset 0px 1px 3px 0px #959642;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebf229), color-stop(1, #dde041));
	background:-moz-linear-gradient(top, #ebf229 5%, #dde041 100%);
	background:-webkit-linear-gradient(top, #ebf229 5%, #dde041 100%);
	background:-o-linear-gradient(top, #ebf229 5%, #dde041 100%);
	background:-ms-linear-gradient(top, #ebf229 5%, #dde041 100%);
	background:linear-gradient(to bottom, #ebf229 5%, #dde041 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf229', endColorstr='#dde041',GradientType=0);
	background-color:#ebf229;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #483f59;
	display:inline-block;
	cursor:pointer;
	color:#483f59;
  font-family:'Lato', sans-serif;
	font-size: 1em;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #d3c5f0;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dde041), color-stop(1, #ebf229));
	background:-moz-linear-gradient(top, #dde041 5%, #ebf229 100%);
	background:-webkit-linear-gradient(top, #dde041 5%, #ebf229 100%);
	background:-o-linear-gradient(top, #dde041 5%, #ebf229 100%);
	background:-ms-linear-gradient(top, #dde041 5%, #ebf229 100%);
	background:linear-gradient(to bottom, #dde041 5%, #ebf229 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dde041', endColorstr='#ebf229',GradientType=0);
	background-color:#dde041;
}
.myButton:active {
	position:relative;
	top:1px;
}*/

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #483F59;
	-webkit-box-shadow: 0px 10px 14px -7px #483F59;
	box-shadow: 0px 10px 10px -7px #483F59;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4a5914), color-stop(1, #354010));
	background:-moz-linear-gradient(top, #4a5914 5%, #354010 100%);
	background:-webkit-linear-gradient(top, #4a5914 5%, #354010 100%);
	background:-o-linear-gradient(top, #4a5914 5%, #354010 100%);
	background:-ms-linear-gradient(top, #4a5914 5%, #354010 100%);
	background:linear-gradient(to bottom, #4a5914 5%, #354010 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a5914', endColorstr='#354010',GradientType=0);
	background-color:#4a5914;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ebf229;
  font-family:'Lato', sans-serif;
	font-size: .9em;
	font-weight:100;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a9bf06;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #354010), color-stop(1, #4a5914));
	background:-moz-linear-gradient(top, #354010 5%, #4a5914 100%);
	background:-webkit-linear-gradient(top, #354010 5%, #4a5914 100%);
	background:-o-linear-gradient(top, #354010 5%, #4a5914 100%);
	background:-ms-linear-gradient(top, #354010 5%, #4a5914 100%);
	background:linear-gradient(to bottom, #354010 5%, #4a5914 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#354010', endColorstr='#4a5914',GradientType=0);
	background-color:#354010;
}
.myButton:active {
	position:relative;
	top:1px;
}




.crosshairs {
  font-weight: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.happyplacepopup {
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-color: green;
  opacity: .85;
}

.makehappyplace {
  text-align: center;
  background-color: white;
  opacity: 1.0;
  border: 5px solid black;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 45px;
  position: relative;
  z-index: 1;
}

.error {
  margin: 0;
  color: red;
}

.closebutton {
  margin: 15px 10px 0 0;
  float: right;
}

.happyplacelistContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.happyplacelist {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.happyplacelist p {
  margin: 0;
}

.footer {
  width: 100%;
  height: 3%;
  margin: 0;
  text-align: center;
  font-size: .7em;
}

.footer p {
  margin: 2px 0 0 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}
